{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/register.css') }}">
{% endblock %}

{% block body %}
{% block content %}
    <div class="register-container">
        <h1 class="register-title">Inscription</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm, {'attr': {'class': 'register-form'}}) }}

            <div class="form-group">
                {{ form_label(registrationForm.pseudo) }}
                {{ form_widget(registrationForm.pseudo, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.pseudo) }}
            </div>

            <div class="form-group">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.email) }}
            </div>

            <div class="form-group">
                {{ form_label(registrationForm.Mot_de_Passe) }}
                {{ form_widget(registrationForm.Mot_de_Passe, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(registrationForm.Mot_de_Passe) }}
            </div>


            <button type="submit" class="btn btn-register">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
{% endblock %}