{{ form_start(recipeForm) }}
{{ form_widget(recipeForm) }}

<div>
    {# {{ form_label(recipeForm.name) }}
    {{ form_widget(recipeForm.name) }} #}
    {# {{ form_errors(recipeForm.name) }} #}
</div>
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(recipeForm) }}