{{ form_start(recipeForm) }}
<div class="form-group">
	{{ form_label(recipeForm.name) }}
	{{ form_widget(recipeForm.name) }}
	{{ form_errors(recipeForm.name) }}
</div>

<div class="form-group">
	{{ form_label(recipeForm.description) }}
	{{ form_widget(recipeForm.description) }}
	{{ form_errors(recipeForm.description) }}
</div>

<div class="form-group">
	{{ form_label(recipeForm.slug) }}
	{{ form_widget(recipeForm.slug) }}
	{{ form_errors(recipeForm.slug) }}
</div>

<div class="form-group">
	{{ form_label(recipeForm.category) }}
	{{ form_widget(recipeForm.category) }}
	{{ form_errors(recipeForm.category) }}
</div>

<div class="form-group">
	{{ form_label(recipeForm.imageFile) }}
	{{ form_widget(recipeForm.imageFile) }}
	{{ form_errors(recipeForm.imageFile) }}
</div>

<div class="form-group button-group">
	<button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
</div>


{{ form_end(recipeForm) }}
