{% extends 'base.html.twig' %}

{% block title %}
	Nos recettes !
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/indexRecipe.css') }}">
{% endblock %}

{% block body %}
	{% block content %}

		<div class="container">
			<h1 class="page-title">Nos Recettes</h1>
			<div class="recipe-grid">
				{% for recipe in recipes %}
					<div
						class="recipe-card">
						{# <img src="{{ asset('images/recipes/' ~ recipe.image) }}" alt="{{ recipe.name }}" class="recipe-image"> #}
						<div class="recipe-content">
							<h2 class="recipe-title">{{ recipe.name }}</h2>
							<div class="recipe-image-container">
								<img src="{{ asset('recettes/images/' ~ recipe.image) }}" alt="{{ recipe.name }}" class="recipe-image">
							</div>
							<p class="recipe-category">Catégorie :
								{{ recipe.category.name }}</p>
							<p class="recipe-description">{{ recipe.description|slice(0, 100) }}...</p>
							<a href="{{ path('app_recipe.show', {slug: recipe.slug}) }}" class="recipe-button">Voir la recette</a>
						</div>
					</div>
				{% endfor %}
			</div>
			<a class="create-recipe-button" href="{{ path('app_recipe_create') }}">Créer sa propre recette</a>
		</div>
	{% endblock %}
{% endblock %}
